@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.navbar{
  background: crimson;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  z-index: 999;
}
.navbar .logo a{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.navbar ul li a{
  color: #fff;
  text-decoration: none;
}
.navbar i{
  color: #fff;
  font-size: 20px;
  display: none;
}
.home{
  width: 100%;
  height: 100vh;
  background: #0d6ce2;
}
.home .padding{
  padding: 80px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .padding .nama{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.home .padding .gambar img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.about{
  border-bottom: 2px solid #cecece;
}
.about .padding{
  padding: 80px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .padding .title{
  font-size: 25px;
  font-weight: 600;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
}
.about .padding .isi{
  width: 50%;
  font-size: 15px;
}

.project{
  width: 100%;
  border-bottom: 2px solid #cecece;
}
.project .padding{
  padding: 80px 40px;
}
.project .padding .title{
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.project .padding .daftar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project .padding .daftar .card{
  width: 45%;
  padding: 5px;
  background: crimson;
  border-radius: 5px;
}
.project .padding .daftar .card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.project .padding .daftar .card .title-projek{
  color: #fff;
}
.project .padding .daftar .card .btn-open a{
  width: 100%;
  height: 25px;
  text-align: center;
  background: #fff;
  text-decoration: none;
  border-radius: 5px;
  color: #000;
}

.skill .padding{
  padding: 80px 40px;
}
.skill .padding .title{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
.skill .padding .list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skill .padding .list img{
  width: 50%;
}

.contact{
  width: 100%;
  background: #0d6ce2;
}
.contact .padding{
  padding: 80px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .padding .title{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  width: 50%;
}
.contact .padding .email{
  width: 50%;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

footer{
  background: #0d6ce2;
}
footer .penutup{
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
footer .footer{
  background: crimson;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}


/* Responsive media query */
@media (max-width: 947px){
  .navbar i{
    display: block;
    z-index: 999;
  }
  .navbar ul{
    background: #000;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;
    text-align: center;
    transition: all 0.6s ease;
  }
  .navbar ul li{
    display: block;
    margin: 80px 0;
  }
  .navbar ul li a{
    font-size: 25px;
    font-weight: 600;
  }
  .navbar ul li a:hover{
    color: crimson;
  }
  .navbar.active ul{
    top: 0;
  }
  .home .padding .gambar img{
    width: 150px;
    height: 150px;
  }
  .home .padding{
    padding: 80px 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home .padding .nama{
    width: 100%;
    text-align: center;
  }
  .about .padding{
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .padding .isi{
    width: 100%;
  }
  .project .padding .daftar{
    flex-wrap: wrap;
  }
  .project .padding .daftar .card{
    width: 100%;
    margin: 10px 0;
  }
  .contact .padding{
    flex-wrap: wrap;
  }
  .contact .padding .title{
    width: 100%;
  }
  .contact .padding .email{
    width: 100%;
  }
}